.TodoInsert {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.TodoInsert input {
  border: none;
  outline: none;
  flex: 1;
}

.TodoInsert input::placeholder {
  color: lightslategray;
}

.TodoInsert button {
  border: none;
  outline: none;
}
